@media screen and (min-width: 992px) {
  
  .index{overflow: hidden;}
  .hero-section{overflow: hidden;
    .swiper-slide{overflow: hidden;
      > .container{
        > .row{
          > div{min-height: 100vh;}
        }
      }
    }
  }
  .mobile-section{display: none;}
}

@media screen and (max-width: 1599px) {
  .hero-section.color_0 .banner-element .circle { width: 80vh; height: 80vh; }
  
  .banner-element .ellipses.ellipses-5 { top: 33%; width: 10.319917440660475vh; height: 10.319917440660475vh; }
  .banner-element .ellipses.ellipses-4 { top: 27%; width: 6.707946336429308vh; height: 6.707946336429308vh; }
  .banner-element .ellipses.ellipses-3 { top: 33%; width: 3.9215686274509802vh; height: 3.9215686274509802vh; } 
  .banner-element .ellipses.ellipses-2 { width: 6.707946336429308vh; height: 6.707946336429308vh; right: 58vh; top: 70%; }
  .banner-element .ellipses.ellipses-1 { width: 4.437564499484004vh; height: 4.437564499484004vh; right: 60vh; top: 81%; }
  .hero-section.color_4 .banner-element .ellipses-1 { right: 35vh; top: 36%; }
  .hero-section.color_1 .banner-element .ellipses-5,
  .hero-section.color_2 .banner-element .ellipses-4,
  .hero-section.color_3 .banner-element .ellipses-3,
  .hero-section.color_4 .banner-element .ellipses-2,
  .hero-section.color_5 .banner-element .ellipses-1{
    width: 80vh !important;
    height: 80vh !important;
    transform: translate(30%, 52%) !important;
  }
  .banner-subtext {
    font-size: clamp(0.7rem, 3vw, 26px);
  } 
  .rocket {
    max-width: 150px;
  }
  .pp {
    max-width: 150px;
  }
} 

@media screen and (max-width: 1499px) {
  .h1 {
    font-size: clamp(1.5rem, 4vw, 1.8rem) !important;
  }
  .banner-subtext {
    font-size: clamp(0.7rem, 3vw, 23px);
  }
  .h4 {
    font-size: 1.3rem;
  }
  .rocket {
    max-width: 130px;
  }
  .pp {
    max-width: 130px;
  }
  .hero-section.color_1 .rocket {
    right: 46vh;
  }
  .hero-section.color_5 .pp {
    right: 38vh;
    width: 16vh;
  }
  .sub-title{
    margin-bottom: 20px !important;
  } 
  .fs-1 {
    font-size: clamp(1.5rem, 4vw, 50px) !important;
  }

  .hero-section.color_0 .banner-element .circle { width: 70vh; height: 70vh; transform: translate(35%, 25%) !important;}
  
  .banner-element .ellipses.ellipses-5 {     top: 36%; width: 9.287925696594428vh; height: 9.287925696594428vh;}
  .banner-element .ellipses.ellipses-4 { top: 33%; width:  5.159958720330238vh; height:  5.159958720330238vh; }
  .banner-element .ellipses.ellipses-3 { top: 38%; width: 3.0959752321981426vh; height: 3.0959752321981426vh; } 
  .banner-element .ellipses.ellipses-2 { width:  5.159958720330238vh; height:  5.159958720330238vh; right: 50vh; top: 75%; }
  .banner-element .ellipses.ellipses-1 { width: 35px; height: 35px; right: 50vh; top: 85%; }
  .hero-section.color_4 .banner-element .ellipses-1 { right: 30vh; top: 42%; }
  .hero-section.color_5 .banner-element .ellipses-2 { right: 30vh; top: 42%; }

  .hero-section.color_1 .banner-element .ellipses-5,
  .hero-section.color_2 .banner-element .ellipses-4,
  .hero-section.color_3 .banner-element .ellipses-3,
  .hero-section.color_4 .banner-element .ellipses-2,
  .hero-section.color_5 .banner-element .ellipses-1{ width: 65vh !important; height: 65vh !important; transform: translate(30%, 70%) !important; }
  .img-banner-wrap .img-banner { max-width: 45vh; max-height: 600px; right: 10px; }
  .img-banner-wrap.img-banner-wrap-2 .img-banner { right: 40px; bottom: 20px;        max-height: 58vh;}
  .img-banner-wrap.img-banner-wrap-3 .img-banner { max-width: 38vh; right: 15px; bottom: -6vh; }
  .img-banner-wrap.img-banner-wrap-4 .img-banner { max-width: 55vh; }
  .img-banner-wrap.img-banner-wrap-5 .img-banner { max-width: 55vh;      max-height: 52vh;}
  .swiper-slide p br{display: none !important;}
  .about-right { right: -27%; width: 50%; top: -50%; min-width: 800px; }
  .img-banner-wrap.no-animation.bottom-space .img-banner { max-width: 51vh; }
} 
@media screen and (max-width: 1299.98px) {
  .rocket { max-width: 115px; }
  .hero-section.color_1 .rocket { bottom: 34%; }
  .btn-download{
     img{ max-width: 90%; }
  }
  .hero-section.color_1 .rocket { right: 42vh; }
  .hero-section.color_0 .banner-element .circle { width: 65vh; height: 65vh; transform: translate(35%, 25%) !important;}
  .banner-element .ellipses.ellipses-5 { top: 42%; width: 8.25593395252838vh; height: 8.25593395252838vh; }
  .banner-element .ellipses.ellipses-4 { top: 37%; width: 4.12796697626419vh; height: 4.12796697626419vh; }
  .banner-element .ellipses.ellipses-3 { top: 42%; width: 2.579979360165119vh; height: 2.579979360165119vh; } 
  .banner-element .ellipses.ellipses-2 { width: 4.12796697626419vh; height: 4.12796697626419vh; right: 45vh; top: 75%; }
  .banner-element .ellipses.ellipses-1 { width: 2.579979360165119vh; height: 2.579979360165119vh; right: 50vh; top: 85%; }
  .hero-section.color_4 .banner-element .ellipses-1 { right: 30vh; top: 42%; }
  .hero-section.color_5 .banner-element .ellipses-2 { right: 30vh; top: 42%; }

  .hero-section.color_1 .banner-element .ellipses-5,
  .hero-section.color_2 .banner-element .ellipses-4,
  .hero-section.color_3 .banner-element .ellipses-3,
  .hero-section.color_4 .banner-element .ellipses-2,
  .hero-section.color_5 .banner-element .ellipses-1{ width: 65vh !important; height: 65vh !important; transform: translate(34%, 76%) !important; }
  .img-banner-wrap .img-banner { max-width: 42vh; max-height: 600px; right: 10px; }
  .img-banner-wrap.img-banner-wrap-2 .img-banner { right: 25px; bottom: 3px;  }
  .img-banner-wrap.img-banner-wrap-3 .img-banner { max-width: 36vh; right: 15px; }
  .img-banner-wrap.img-banner-wrap-4 .img-banner { max-width: 52vh; }
  .img-banner-wrap.img-banner-wrap-5 .img-banner { max-width: 52vh;}
  .about-right { right: -27%; width: 50%; top: -30%; min-width: 800px; }
  .mob-box {
      background-color: #61F3FC;
      padding: 20px;
      border-radius: 20px;
      .conv-cur .btn {
        background: transparent !important;
        padding: .175rem .5rem;
    }
    .conv-cur input {
      padding-right: 15px;
    }
    .conv-cur .btn img {
      width: 20px;
  }
  }
  
}
@media screen and (max-width: 1199.98px) {
  .swiper-prev,
  .swiper-pagination{display: none;}
  .img-banner-wrap.no-animation.bottom-space .img-banner { max-width: 47vh; }
  .team .card .team-photo>img { height: 20vw; }
  .team .card .team-details h3 { min-height: 60px; font-size: 23px; }

}


@media screen and (max-width: 991.98px) {
  .img-banner-wrap,
  .banner-element{display: none;}

  .hero-section {
      max-height: 100vh;
      margin-top: 100px;
  }
  .navbar-light .navbar-collapse {
      border-radius: 4px;
      margin-top: 10px;
  }
  header .navbar {
    background-color: #b9f6fa;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar-light .navbar-collapse {
      // background-color: rgba(255, 255, 255, 0.85);
      // padding: 20px 30px;
      // transform: translateY(30px);
      margin-top: 0px;
      .navbar-nav {
        margin-top: 30px; margin-bottom: 20px;
       
          li{
            a{
              margin-bottom: 10px;
              padding-bottom: 15px;
              padding-top: 0;
            }
          }
        
      }
      .btn{margin-bottom: 20px;}
  }

  .navbar-light .navbar-toggler {
      border-color: transparent;
  }
  .team .card .team-photo>img {
    max-height: 350px;
    min-height: 300px; 
    height: auto;
}


  .swiper-slide{
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    &.slider-first{
      padding-bottom: 70px;
    }
  }
  .mob-section{
    text-align: center;
    margin-top: -100px;
    .btn-download{
      justify-content: center;
    }
  }
  .sub-title { font-size: 16pt !important; }
  .mob-text{ font-size: 12pt !important; margin-bottom: 20px;}
  .mob-text-1{ font-size: 10pt !important;}
  .m-view-btn{ font-size: 9pt; }
  .mob-16{font-size: 16pt !important;}
  .mob-right{
    img{    max-width: 50vw;}
    &.mob-left{ margin-left: -7vw;
      img{margin-left: -17vw;}
    }
  }
  .mob-section .btn-download {
    width: 340px;
    margin: 0 auto;
    img {
      max-width: 90%;
      margin: 0 auto !important;
    }
  }
  .mob-box{
    .conv-cur {
      background: #F5F5F5;
      .btn img {
        width: 28px;
      }
      input {
        padding-right: 20px;
        background: #F5F5F5;
      }
    }
    .col-md-auto{margin-top: 20px; margin-bottom: 20px;}
    .rate-ex{font-size: 10pt; margin-top: 20px; margin-bottom: 0; text-align: center;}
  }
  .gtouch .form-email .form-control {
    max-width: 410px;
    margin: 30px auto 0;
  }
  .app-details.mob-section{
    margin-top: 0 !important;
  }
  .mobile-section{
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
  }
  .mobile-section-inner{
    padding-bottom: 50px;
  }
  .mobile-section{
    #footer{ background: linear-gradient( 0deg , #ffffff, 32%, #b9f6fa 50%); padding: 60px 0 80px 0; margin: 0 -15px;
      &::before{
        background-image: url('../img/f-shap.svg');
      }
      .copyright{margin-top: 0; margin-bottom: 0;}
    }
    .team {
      margin: 0;
      position: relative;
      height: 370px;
      margin-bottom: 50px;
      margin-right: -15px;
      .owl-carousel.owl-drag .owl-item {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
       
        .card {
          border-radius: 10px;
          box-shadow: 0px 2px 15px #56565626;
          .team-details {
            padding: 10px;
              h5 {
              font-size: 9pt;
              margin-bottom: 7px !important;
            }
            h3 {
              margin-top: 10px;
              font-size: 10pt;
              margin-bottom: 0;
              min-height: 40px;
            }
          
          }
          .team-photo > img {
            // max-height: 190px;
            // min-height: 120px;
            // border-radius: 10px;
            height: 30vw;
            min-height: auto;
            border-radius: 10px;
            max-height: initial;
          }
          .team-photo{
            a{
                bottom: 10px;
                padding: 4px 8px;
                border-radius: 4px;
                right: 8px;
                // transform: rotateY(0deg);
                transition: all 0.3s ease-in-out;
            }
          }
        }
      }
      .about-right {
        right: -27%;
        width: 50%;
        top: -20%;
        min-width: 320px;
        max-width: 60vw;
      }

    }
  }
  .custom-modal .modal-content {
    border-radius: 20px;
    min-height: 330px;
    background-size: 50%;
  }
  .custom-modal .modal-content .modal-header{
    padding-bottom: 1rem;
  }
  .custom-modal .modal-content .modal-header h5 {
    font-size: 24px;
  }
  .list-countries{padding-left: 20px;}
  .custom-modal .modal-content .modal-body ul.list-countries li img {
    width: 37px;
  }
  .custom-modal .modal-content .modal-body ul.list-countries li {
    display: flex;
    margin-bottom: 20px;
  }
  .custom-modal .modal-content .modal-body ul.list-countries li span { font-size: 19px;}
  .mob-img-top{
    position: relative;
    z-index: -1;
    .img-animation{
      position: absolute;
      top: 0;
      left: 0;
      }
    }
    .img-w-50{
      width: 40px;
    }
    .icon-p {
      padding-left: 30px;
      img{width: 20px;}
  }
  .faq-section {
    margin-top: 120px !important;
    .fs-2 {
      line-height: 3.3rem;
      text-align: center;
      margin-bottom: 15px !important;
    }
    p.h2{text-align: center; font-size: 15pt;}
}
.faq-card {
  margin-top: 50px;
}
  // FAQ

  .faq-card .card .card-header {
    font-size: 14px;
    padding: 20px 20px;
  }
  .faq-card .card .card-body {
    font-size: 16px;
    color: #131313;
    text-align: left;
    padding: 0 20px 20px;
}
.faq-card .card .card-header .active {
  right: 15px;
  top: 10px;
  width: 25px;
}
.faq-card .card .card-header .notactive {
  width: 20px;
}

.container, .container-sm {
  max-width: 670px !important;
}
.mobile-section .team .owl-nav {
  display: none;
}
}
@media screen and (max-width: 767.98px) {
  .sub-title { font-size: 12pt !important; }
  .mob-text{ font-size: 9pt !important; line-height: 2 !important; }
  .m-view-btn{ font-size: 7pt; }
  .mob-section{
    margin-top: -8vw;
  }
  .mob-right{
    img{    max-width: 48vw;}
  }
  .mob-right.mob-left img {
    margin-left: -17vw;
}
  .icon-p img {
    width: 15px;
  }
  .banner-subtext{font-size: 9pt !important;  width: 80%;   margin: 0 auto;}
  .banner-subtext-1{color: #1f3c88 !important;}
  .mobile-section .team .owl-carousel.owl-drag .owl-item .card .team-photo a {
    padding: 4px 8px;
    font-size: 9pt;
    display: flex;
    align-items: center;
  }
  .team .card .team-photo a img {
    height: 10px;
    width: 10px;
    margin-left: 10px;
    
  }
  #footer .social-links{display: flex;}
  #footer .social-links a {
    margin-right: 14px;
    width: auto;
    height: auto;
    font-size: 14pt;
  }
  #footer h5{    font-size: 10pt; margin-bottom: 5px;}
  #footer .clean-list li {
    padding: 1pt 0;
    margin-bottom: 0;
  }
  #footer .clean-list li a {
    font-size: 9pt;
  }
  .mobile-section #footer .copyright{margin-top: 60px;}
}
@media screen and (max-width: 650.98px) {
  .mob-right.mob-left img {
    margin-left: -10vw;
}
}
@media screen and (max-width: 579.98px) {
  .mobile-section .team .owl-carousel.owl-drag .owl-item .card .team-photo > img {
    // max-height: 120px;
    // min-height: 100px;
    height: 30vw;
  }
  .mobile-section .team .about-right {
    top: -4%;
    min-width: 260px;
    max-width: 50vw;
  }
  .mob-box {
    padding: 10px;
    .btn{padding: 5px;}
    .conv-cur input {
      padding: 5px;
      padding-right: 20px;
    }
  }
  #footer h5 {
    font-size: 8pt;
    margin-bottom: 5px;
}
#footer .social-links a {
  margin-right: 6px;
  width: auto;
  height: auto;
  font-size: 12pt;
}
#footer .clean-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 5px;
}
#footer .clean-list li a {
  font-size: 7pt;
}
 
}
@media screen and (max-width: 579.98px) {
  .mob-right{
    &.mob-left{ margin-left: -7vw;
      img{margin-left: -8vw;}
    }
  }
 
}

@media (max-height: 1079.98px) and (min-width: 1199.98px) {
  .swiper-slide .right-side{transform: scale(0.95); transform-origin: left;}
}
@media (max-height: 800px) and (min-width: 1199.98px) {
  .swiper-slide .right-side{transform: scale(0.8); transform-origin: left;}
}
@media (max-height: 700px) and (min-width: 1199.98px) {
  .swiper-slide .right-side{transform: scale(0.7); transform-origin: left;}
}