:root {
    --bgMain: #B9F6FA;
    --primaryText: #102048;
    --secondaryText: #1F3C88;
    --accentColor: #0099FF;
    --whiteColor: #ffffff;
    --orangeColor: #FC8879;
    --blueColor: #5C84EF;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../font/ProximaNova-Regular.woff2') format('woff2'),
        url('../font/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@keyframes btn-hover {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
    background: var(--bgMain);
    overflow-x: hidden;
    font-size: 1.125rem;
}

.fs-11 {
    font-size: 11px;
}

.ff-proxima {
    font-family: 'Proxima Nova Rg';
    letter-spacing: -0.2px;
}

.btn.btn-accent {
    background-color: var(--accentColor);
    color: var(--whiteColor);
}

.text-primary {
    color: var(--primaryText) !important;
}

.text-secondary {
    color: var(--secondaryText) !important;
}

.text-orange {
    color: var(--orangeColor) !important;
}

.text-blue {
    color: var(--blueColor) !important;
}

.fs-1 {
    font-size: clamp(1.5rem, 4vw, 72px) !important;
    line-height: 6.3rem;
}

.btn {
    font-size: inherit;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 10px;
    border-width: 0;
    color: var(--secondaryText);
}

.btn:hover .text-secondary,
.btn:hover {
    color: var(--whiteColor) !important;
}

.btn::before {
    content: "";
    background-color: var(--secondaryText);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.btn:hover::before {
    animation: btn-hover 0.4s linear;
    animation-direction: alternate;
    width: 100%;
}

.banner-subtext {
    font-size: clamp(0.7rem, 3vw, 30px);
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1580px;
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
@media screen and (min-width:991px) {
    .navbar-nav li:not(:first-child) a {
        margin-left: 3rem;
    }

    .navbar-nav li a {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 5px;
    }
}

.navbar a:not(.btn) {
    position: relative;
    color: var(--primaryText) !important;
    font-weight: 600;
}

.navbar-nav a::after {
    content: "";
    left: 0;
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: var(--accentColor);
    transition: all 0.3s ease-in-out;
}

.navbar-nav a.activeClass::after,
.navbar-nav a:hover::after {
    width: 100%;
}


.navbar-nav a:hover,
.navbar-nav .active,
.navbar-nav li:hover>a {
    background-color: transparent;
    color: var(--primaryText) !important;
}


.hero-waves {
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
}

.wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }

    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }

    100% {
        transform: translate(-90px, 0%);
    }
}

@-webkit-keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@-webkit-keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

/* Nikunj Custom CSS */
@-webkit-keyframes anime-banner {
    0% {
        -webkit-transform: scaleZ(1) rotateX(0deg) rotateY(0deg) translateY(0px);
        transform: scaleZ(1) rotateX(0deg) rotateY(0deg) translateY(0px);
    }

    100% {
        -webkit-transform: scaleZ(1) rotateX(-10deg) rotateY(-10deg) translateY(-10px);
        transform: scaleZ(1) rotateX(-10deg) rotateY(-10deg) translateY(-10px)
    }
}

@keyframes anime-banner {
    0% {
        -webkit-transform: scaleZ(1) rotateX(0deg) rotateY(0deg) translateY(0px);
        transform: scaleZ(1) rotateX(0deg) rotateY(0deg) translateY(0px)
    }

    100% {
        -webkit-transform: scaleZ(1) rotateX(-8deg) rotateY(-10deg) translateY(-10px);
        transform: scaleZ(1) rotateX(-8deg) rotateY(-10deg) translateY(-10px)
    }
}

.img-banner-wrap {
    -webkit-perspective: 1600px;
    perspective: 1600px;
    /* -webkit-perspective-origin: 55% 50%;
    perspective-origin: 55% 50%; */
}

.banner-element .ellipses-1 {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: #0A94B9 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    position: absolute;
    left: 1165px;
    top: 830px;
}

.banner-element .ellipses-2 {
    width: 71px;
    height: 71px;
    border-radius: 50%;
    background: #FAF8B9 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    position: absolute;
    left: 1202px;
    top: 630px;
}

.banner-element .ellipses-3 {
    border-radius: 50%;
    position: absolute;
    left: 1704px;
    top: 270px;
    width: 41px;
    height: 42px;
    background: #121D63C2 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
}

.banner-element .ellipses-4 {
    border-radius: 50%;
    position: absolute;
    left: 1791px;
    top: 211px;
    width: 71px;
    height: 71px;
    background: #5C84EF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
}

.banner-element .ellipses-5 {
    border-radius: 50%;
    position: absolute;
    right: -70px;
    top: 268px;
    width: 110px;
    height: 109px;
    background: #FC8879 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
}

.banner-element .rocket {
    position: absolute;
    left: 60%;
    bottom: 20rem;
    max-width: 110px;
}

.banner-element .circle {
    background: transparent linear-gradient(297deg, #B9F6FA 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    width: clamp(220px, 55vw, 815px);
    height: clamp(220px, 55vw, 815px);
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    transform: translate(30%, 30%);
}

.banner-element .circle.orange {
    background: var(--orangeColor);
    width: clamp(240px, 55vw, 815px);
    height: clamp(240px, 55vw, 815px);
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    transform: translate(30%, 30%);
}

.banner-element .circle.blue {
    background: var(--blueColor);
    width: clamp(240px, 55vw, 815px);
    height: clamp(240px, 55vw, 815px);
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    transform: translate(30%, 30%);
}
.banner-element .circle.yellow {
    background: #FAF8B9 0% 0% no-repeat padding-box;
    width: clamp(240px, 55vw, 815px);
    height: clamp(240px, 55vw, 815px);
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    transform: translate(30%, 30%);
}
.banner-element .circle.dr-blue {
    background: #121D63C2 0% 0% no-repeat padding-box;
    width: clamp(240px, 55vw, 815px);
    height: clamp(240px, 55vw, 815px);
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    transform: translate(30%, 30%);
}

.img-banner-wrap .img-banner {
    max-width: 678px;
    max-height: 740px;
    position: absolute;
    right: 70px;
    bottom: 0;
    -webkit-animation: anime-banner 3.5s linear infinite alternate-reverse both;
    animation: anime-banner 3.5s linear infinite alternate-reverse both;
}

.img-banner-wrap.no-animation .img-banner {
    right: 0px;
    bottom: 0;
    -webkit-animation: none;
    animation: none;
}
.img-banner-wrap.no-animation.bottom-space .img-banner {
    right: 10px;
    bottom: 0;
    -webkit-animation: none;
    animation: none;
    max-width: 510px;
    bottom: -100px;
}
.hero-section {
    max-height: 100vh;
}

.hero-carousel.swiper-container {
    height: 100vh;
}

.swiper-pagination {
    right: auto !important;
    left: 50px;
    top: 45vh !important;
}

.swiper-pagination .swiper-pagination-bullet {
    background: #BCBCBC;
    opacity: 1;
    height: 11px;
    width: 11px;
    margin: 15px !important;
    transition: all 0.3s ease-in-out;
}

.swiper-pagination .swiper-pagination-bullet:last-child.swiper-pagination-bullet-active {
    transform: rotate(90deg) translateX(-11px);
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    height: 43px;
    border-radius: 6px;
    background: var(--accentColor);
}

.swiper-next {
    height: 187px;
    width: 187px;
    cursor: pointer;
    background-color: #83d4da;
    border-radius: 50%;
    position: absolute;
    top: 100vh;
    left: 50%;
    transform: translateX(-50%) translateY(-35%);
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: 1.2rem;
    font-size: 2rem;
}

.swiper-next i {
    color: var(--whiteColor);
}

.fc-dr-blue{
    color: #354A80;
}
.fw-600 {
    font-weight: 600;
}
@media screen and (max-width: 991px) {
    .hero-section {
        max-height: 100vh;
        margin-top: 100px;
    }
    .navbar-light .navbar-collapse {
       
        border-radius: 4px;
        margin-top: 10px;

    }

    .navbar-light .navbar-collapse {
        background-color: rgba(255, 255, 255, 0.85);
        /* backdrop-filter: blur(4px); */
        padding: 20px 30px;
        /* margin-top: 20px; */
        transform: translateY(30px);
    }

    .navbar-light .navbar-toggler {
        border-color: transparent;
    }

    .btn-download img {
        max-width: 34px;
    }

    .btn-download .text-start small {
        font-size: 8px;
    }

    .btn-download .text-start .h5 {
        font-size: 13px;
    }

    .img-banner-wrap .img-banner {
        right: 0px;
        width: 53%;
        bottom: 45vh;
        transform: translate(0);
    }

    .banner-element .circle {
        bottom: 34vh;
        transform: translate(0);
        z-index: -1;
    }

    .banner-element .ellipses-1 {
        width: 13px;
        height: 13px;
        left: 34vw;
        top: 54vh;
    }

    .banner-element .ellipses-2 {
        width: 19px;
        height: 19px;
        left: 37vw;
        top: 44vh;
    }

    .banner-element .ellipses-3 {
        left: 74vw;
        top: 33vh;
        width: 12px;
        height: 12px;
    }

    .banner-element .ellipses-4 {
        left: 82vw;
        top: 30vh;
        width: 19px;
        height: 19px;
    }

    .banner-element .ellipses-5 {
        right: 3vw;
        top: 32vh;
        width: 29px;
        height: 31px;
    }
}

